<!DOCTYPE html>
<html land = "en">
    <head>
         <meta charset="UTF-8">
         <title>Chess</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
         <link href="./style.css" rel="stylesheet"/>
         
 
    </head>
    <body>
        <h1> CHESS</h1>
           
        <section id="chess-container">
            <div class="material board">
                <div class="black-material">
                    <% if (locals.name1) { %>

                        <img src="/bking.png" class="prof"/><p><%= name1 %></p>
                         
                        <% } else { %>
                            <img src="/bking.png" class="prof"/><p>Player1</p>
                       <% } %>
                       <hr/>
                       <div class="collected">
                          <img src="wqueen.png" alt="white queen"/> <p id="wqueenc">X 0
                           
                          </p>
                          <img src="/wrook.png" alt="white rook"/><p id="wrookc">X 0
                           
                          </p>
                          <img src="wknight.png" alt="white knight"><p id="wknightc">X 0
                           
                          </p>
                          <img src="wbishop.png" alt="white bishop"/><p id="wbishopc">X 0
                            
                          </p>
                          <img src="wpawn.png" alt="white pawn"/><p id="wpawnc">X 0
                           
                          </p>
                       </div>
                     
                </div>
                 <div class="white-material">
                    <% if (locals.name1) { %>
                           
                        <img src="/wking.png" class="prof"/><p><%= name2 %></p>
                         
                        <% } else { %>
                            <img src="/wking.png" class="prof"/><p>Player2</p>
                       <% } %>
                       <hr/>
                       <div class="collected">
                        <img src="bqueen.png" alt="black queen"/><p id="bqueenc">X 0 </p>
                        <img src="brook.png" alt="black rook"/><p id="brookc">X 0
                          </p>
                        <img src="bknight.png" alt="black knight"><p id="bknightc">X 0
                            
                          </p>
                        <img src="bbishop.png" alt="black bishop"/><p id="bbishopc">X 0
                           
                          </p>
                        <img src="bpawn.png" alt="black pawn"/><p id="bpawnc">X 0
                           
                          </p>
                     </div>

                 </div>
           </div>   
            <div id="board">
            <div class="odd row" id="8">
                <div class="colm light" id="a"><img class="black rook" src="/brook.png" alt="black rook"/></div>
                <div class="colm dark" id="b"><img class="black knight"src="/bknight.png" alt="black knight"/></div>
                <div class="colm light"id="c"><img class="black bishop"src="/bbishop.png" alt="black bishoop"/></div>
                <div class="colm dark" id="d"><img class="black queen"src="/bqueen.png" alt="black "/></div>
                <div class="colm light" id="e"><img class="black king"src="/bking.png" alt="black "/></div>
                <div class="colm dark" id="f"><img class="black bishop"src="/bbishop.png" alt="black bishop "/></div>
                <div class="colm light" id="g"><img class="black knight"src="/bknight.png" alt="black knight"/></div>
                <div class="colm dark" id="h"><img class="black rook"src="/brook.png" alt="black rook "/></div>
            </div>
            <div class = "even row" id="7">
                <div class="colm dark" id="a"><img class="black pawn"src="/bpawn.png" alt="black pawn"></div>
                <div class="colm light" id="b"><img class="black pawn"src="/bpawn.png" alt="black pawn"></div>
                <div class="colm dark" id="c"><img class="black pawn"src="/bpawn.png" alt="black pawn"></div>
                <div class="colm light" id="d"><img class="black pawn"src="/bpawn.png" alt="black pawn"></div>
                <div class="colm dark" id="e"><img class="black pawn"src="./bpawn.png" alt="black pawn"></div>
                <div class="colm light" id="f"><img class="black pawn"src="/bpawn.png" alt="black pawn"></div>
                <div class="colm dark" id="g"><img class="black pawn"src="./bpawn.png" alt="black pawn"></div>
                <div class="colm light" id="h"><img class="black pawn"src="/bpawn.png" alt="black pawn"></div>

            </div>
            <div class="odd row" id="6">
                <div class="colm light" id="a"></div>
                <div class="colm dark" id="b"></div>
                <div class="colm light" id="c"></div>
                <div class="colm dark" id="d"></div>
                <div class="colm light" id="e"></div>
                <div class="colm dark" id="f"></div>
                <div class="colm light" id="g"></div>
                <div class="colm dark"id="h"></div>
            </div>
            <div class = "even row" id="5">
                <div class="colm dark" id="a"></div>
                <div class="colm light" id="b"></div>
                <div class="colm dark" id="c"></div>
                <div class="colm light" id="d"></div>
                <div class="colm dark" id="e"></div>
                <div class="colm light" id="f"></div>
                <div class="colm dark" id="g"></div>
                <div class="colm light" id="h"></div>

            </div>
            <div class="odd row" id="4">
                <div class="colm light" id="a"></div>
                <div class="colm dark" id="b"></div>
                <div class="colm light" id="c"></div>
                <div class="colm dark" id="d"></div>
                <div class="colm light" id="e"></div>
                <div class="colm dark" id="f"></div>
                <div class="colm light" id="g"></div>
                <div class="colm dark" id="h"></div>
            </div>
            <div class = "even row" id="3">
                <div class="colm dark" id="a"></div>
                <div class="colm light" id="b"></div>
                <div class="colm dark" id="c"></div>
                <div class="colm light" id="d"></div>
                <div class="colm dark" id="e"></div>
                <div class="colm light" id="f"></div>
                <div class="colm dark" id="g"></div>
                <div class="colm light" id="h"></div>

            </div>
            <div class="odd row" id="2">
                <div class="colm light" id="a"><img class="white pawn"src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm dark" id="b"><img class="white pawn" src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm light" id="c"><img class="white pawn" src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm dark" id="d"><img class="white pawn" src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm light" id="e"><img class="white pawn"src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm dark" id="f"><img class="white pawn" src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm light" id="g"><img class="white pawn" src="/wpawn.png" alt="whitepawn"></div>
                <div class="colm dark" id="h"><img class="white pawn" src="/wpawn.png" alt="whitepawn"></div>
            </div>
            <div class = "even row" id="1">
                <div  class="colm dark" id="a"><img class = "white rook" src="/wrook.png" alt="white rook"/></div>
                <div class="colm light" id="b"><img class = "white knight"src="/wknight.png" alt="white knight"/></div>
                <div class="colm dark" id="c"><img class="white bishop" src="/wbishop.png" alt="white bishop"/></div>
                <div class="colm light" id="d"><img class="white queen" src="/wqueen.png" alt="white queen"/></div>
                <div class="colm dark" id="e"><img class="white king" src="/wking.png" alt="white king"/></div>
                <div class="colm light" id="f"><img class="white bishop" src="/wbishop.png" alt="white bishop"/></div>
                <div class="colm dark" id="g"><img class = "white knight" src="/wknight.png" alt="white knight"/></div>
                <div class="colm light" id="h"><img class = "white rook" src="/wrook.png" alt="white rook"/></div>
                

            </div>
           </div>
           <div>
            <button type="button" class="btn btn-primary" class="playbutton">Play</button>
           </div>
        </section>
        <div id="form" style="display:none">
            <form action = "/submit" Method="Post">
             <label for="name1"> Player 1 Name:</label>
             <input type="text" id="name1" name="name1"><br><br>
             <label for="name2"> Player 2 Name</label>
             <input type="text" id="name2" name="name2"><br><br>
             <input type="submit" value="continue">
            </form>
        
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>  
    <script src="/index.js"></script>
    </body>
</html>

          